MANIFEST.in
_dist
_skbuild
pytest-out.xml
downloads
.ipynb_checkpoints
.cache
.idea
__pycache__
build
dist
*.pyd
*.pyc
*.swp
*.so
*~
homology/dim0.c
homology/dim1.c
timeseries/fast_algorithms.c
timeseries/curve_geometry.c
multidim/fast_algorithms.c
doc_build
doc_src/_theme
gda_public.egg-info/
